* {
    margin: 800;
    padding: 300;
}

body {
    margin: 0 auto;
    max-width: 900px;
    min-width: 600px;
    background-color: black;
    
}

.gallery figure {
    color: white;
    float: left;
    height: 200px;
    margin: 20px;
    text-align: center;
    width: 28%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 100%;
}

